.machine-hero {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}


.hero-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1.2s ease-in-out;
}


.hero-image.active {
    opacity: 1
}

.hero-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.25);
}


.hero-overlay h1 {
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(90deg, #9ce2f0, #f78989);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.hero-overlay p {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    background: linear-gradient(90deg, #0dcaf0, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-overlay h1, .hero-overlay p {
  text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
}


.fade-in {
    opacity: 1;
    transition: opacity 1s ease-in-out
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-in-out
}


.dot-container {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.dot-container .dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
}

.dot-container .dot.active-dot {
    background: #0dcaf0
}

@media (max-width: 760px) {
    
    .hero-overlay h1 {
        font-size: 2rem;
    }

    .hero-overlay p {
        font-size: 1rem;
    }
    
    .dot-container {
        bottom: 80px
    }
}


