.machine-hero {
    position: relative;
    z-index: 1;
    height: 100vh;
    width: 100%;
    background-color: red;
}


.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.hero-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.25);
}


.hero-overlay h1 {
    font-size: 3rem;
    font-weight: 700;
}


.hero-overlay p {
    margin-top: 0.5rem;
    font-size: 1.2rem;
}





