.industry-card {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.industry-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(13, 202, 240, 0.4);
}


.industry-card img {
    width: 350px;
    height: 400px;
    object-fit: cover;
    display: block;
    transition: all 0.3s ease;
}

.industry-card img {
    transform: scale(1.05);
}


.industry-card .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.6);
    color: #fff;
    padding: 1rem;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.industry-card:hover .overlay {
  opacity: 1;
}

.industry-card .overlay p {
    font-size: 1rem;
    line-height: 1.4;
    margin: 0;
}

@media (max-width: 992px) {
    .industry-card img {
        height: 250px;
        width: 300px;
    }
}


@media (max-width: 768px) {
    .industry-card img {
        height: 180px;
    }

    .industry-card .overlay p {
        font-size: 0.9rem;
    }
}
