.gadgetsHero-section {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.gadgetsHero-section .gadget-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: all 0.3 ease-in-out;
}

.gadgetsHero-section .gadget-image.active {
    opacity: 1;
}


.gadgetsHero-section .gadget-hero-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background: rgba(0,0,0,0.25);
}

.gadgetsHero-section .gadget-hero-overlay .gadget-title {
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(90deg, #9ce2f0, #f78989);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gadgetsHero-section .gadget-hero-overlay .gadget-statement {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    background: linear-gradient(90deg, #0dcaf0, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gadgetsHero-section .gadget-hero-overlay .gadget-title,
.gadgetsHero-section .gadget-hero-overlay .gadget-statement {
  text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
}

.fade-in {
    opacity: 1;
    transition: opacity 1s ease-in-out
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-in-out
}


.gadgetsHero-section .gadget-dot-container {
    position: absolute;
    bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    
}


.gadget-dot-container .gadget-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
}

.gadget-dot-container .gadget-dot.active {
    background: #0dcaf0
}


@media (max-width: 760px) {
    
    .gadgetsHero-section .gadget-hero-overlay .gadget-title {
        font-size: 2rem;
    }

    .gadgetsHero-section .gadget-hero-overlay .gadget-statement {
        font-size: 1rem;
    }
    
    .gadgetsHero-section .gadget-dot-container {
        bottom: 80px
    }
}
