.usecase-section {
    padding: 6rem 2rem;
    width: 100%;
}

.usecase-section .usecase-header {
    margin: 0 auto 4rem auto;
}

.usecase-section .usecase-label {
    color: #0dcaf0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.85rem;
}


.usecase-section .usecase-statement {
    text-align: center;
}

.usecase-examples {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
    padding: 2rem 6rem;
}


@media (max-width: 992px) {
    .usecase-section {
        padding: 0;
        width: 100%;
    }

    .usecase-section {
        padding: 6rem 0.5rem;
    }

    .usecase-examples {
        padding: 2rem 1rem;
    }
}

@media (max-width: 462px) {
    .usecase-section {
        padding: 6rem 2rem;
        width: 100%;
    }

    .usecase-section {
        padding: 6rem 0.5rem;
    }

    .usecase-examples {
        padding: 2rem 1rem;
    }
}