.capabilities-section {
    padding: 6rem 2rem;
    width: 100%;
}


.capabilities-section .capabilities-header {
    max-width: 1200px;
    margin: 0 auto 4rem auto;
}


.capabilities-section p {
    color: #0dcaf0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 auto 4rem auto;
    font-size: 0.85rem;
}


.capabilities-section .capabilities-grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem; */
}

@media (max-width: 992px) {
    .capabilities-section .capabilities-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .capabilities-section p {
        margin: 0;
    }
}

@media (max-width: 462px) {
    .capabilities-section .capabilities-grid {
        /* grid-template-columns: 1fr; */
        grid-template-columns: repeat(2, 1fr);
    }

    .capabilities-section p {
        margin: 0;
    }
}
