.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: transform 0.3s ease;
    box-sizing: border-box;
    overflow: visible;
}

.header.hide {
    transform: translateY(-100%)
}

.header.show {
    transform: translateY(0)
}

.header.scrolled {
    background-color: #1A1D29;
    color: #0dcaf0;
}

.header.top {
    background: rgb(26, 29, 41, 0.2);
    box-shadow: none;
}

.header .logo:hover {
    cursor: pointer;
}

.header .logo h3 {
    color: #ffffff;
    font-size: 1.5rem;
    font-family: 'Menorah Grotesk', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 
        0 0 5px #0dcaf0,
        0 0 20px rgba(13, 202, 240, 0.5),
        0 0 30px rgba(13, 202, 240, 0.3);
    transition: text-shadow 0.3s ease;
}

.header .logo span {
    color: #0dcaf0;
    text-shadow: 
        0 0 5px #0dcaf0, 
        0 0 15px #0dcaf0, 
        0 0 30px rgba(13, 202, 240, 0.7);
}

.header.top a {
    color: #0dcaf0;
}

.header.top a.active {
    background: none;
    color: #00d5ff;
    font-weight: 700;
    border-bottom: 2px solid #ff6905;
    padding: 0;
    box-shadow: none;
}

.header nav {
    display: flex;
    gap: 20px;
}

.header nav a {
    font-size: 15px;
    text-decoration: none;
    color: #0dcaf0;
}

.header nav a.active {
    color: #1A1D29;
    background: linear-gradient(135deg, #2532ac 0%, #0DCAF0 100%);
    padding: 5px 10px;
    border-radius: 4px;
    border-bottom: 3px solid #ff6905;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2) ;
}

.header .user-toolTip {
    cursor: pointer;
    transition: all 0.3s ease;
}

.header .signUp-Tip {
    color: #1A1D29;
    background: linear-gradient(135deg, #2532ac 0%, #0DCAF0 100%);
    padding: 5px 10px;
    border-radius: 4px;
    border-bottom: 3px solid #ff6905;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: all 0.3s ease;
}

 
.header .menu-icon {
    display: none;
    z-index: 4000;
    margin-right: 20vw;
    cursor: pointer;
}

.header .menu-icon:hover {
    background: #043e49;
    border-radius: 50px;
    padding: 8px;
}

.header .mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    width: 100%;
    height: 100vh;
    /* margin-left: 20px; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-top: 20vh;
    padding-left: 20px;
    align-items: flex-start;
    gap: 30px;
    /* background-color: red; */
    background: #1A1D29;
    
}

.header .mobile-nav nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.header .mobile-nav a {
    color: #0DCAF0;
    font-size: 18px;
    text-decoration: none;
    width: 100%;
    background: none;
    border-bottom: none;
    display: flex;
    align-items: center;
}

.header .mobile-nav a.active {
    color: #1AAD29;
    /* background: linear-gradient(135deg, #2532ac 0%, #0DCAF0 100%); */
    padding: 15px 30px;
    border-radius: 6px;
    border-bottom:  1px solid #ff6905;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}


@media (max-width: 992px) {
    .header nav {
        display: none;
    }

    .header .menu-icon {
        display: block;
    }
}


@media (max-width: 462px) {

    header {
        padding: 2px;
    }

    .header .logo h3 {
        font-size: 1rem;
    }

    .header nav {
        display: none;
    }

    .header .menu-icon {
        display: block;
    }

    .header .user-toolTip {
        display: none
    }
}


