.footer-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: rgb(255, 255, 255, 0.5);
    padding: 15px;
    padding-bottom: 15vh;
}


.footer-section a {
    text-decoration: none;
    color: rgb(255, 255, 255, 0.5);
    transition: transform 0.5s ease
}


.footer-section a:hover {
    cursor: pointer;
    color: #0dcaf0;
    transform: translateY(-5px);
}


@media screen and (max-width: 992px) {
    .footer-section {
        padding: 2px;
        padding-bottom: 20vh;
    }

    .footer-section a {
        font-size: 14px;
    }
}


@media screen and (max-width: 768px) {
    .footer-section {
        padding: 2px;
        padding-bottom: 20vh;
    }

    .footer-section a {
        font-size: 12px;
    }
}


@media screen and (max-width: 462px) {
    .footer-section {
        align-items: flex-start;
        flex-direction: column;
        padding-bottom: 20vh;
        box-shadow: 0 4px 20px rgb(13, 202, 240, 0.3);
    }
}
