.machine-products-section {
    /* background: #242938; */
    /* padding: 50px; */
    padding: 6rem 2rem;
}
.machine-products-section h2 {
    text-align: center;
    font-size: 2rem;
    color: #0dcaf0;
}

.machine-products-section .machine-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
    margin-top: 3rem;
}

.machine-products-section .machine-products .product-card {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    text-wrap: wrap;
    background-color: #1A1D29;
    box-shadow: 0 6px 18px rgba(0,0,0,0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.machine-products-section .machine-products .product-card:hover {
    cursor: pointer;
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.6);
}

.machine-products-section .machine-products .product-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.machine-products-section .machine-products .product-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(36, 41, 56, 0.85);
    color: #fff;
    padding: 1rem;
    opacity: 1;
    transition: opacity 0.3s ease;
    z-index: 2
}

.machine-products-section .machine-products .product-overlay h3 {
    color: #0dcaf0;
    margin: 0 0 0.5rem 0;
}

.machine-products-section .machine-products .product-overlay p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.machine-products-section .machine-products .product-overlay button {
    background-color: #0dcaf0;
    border: none;
    padding: 0.8rem 1rem;
    border-radius: 2px;
    color: #1A1D29;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;
}


.machine-products-section .machine-products .product-overlay button:hover {
    background-color: #08a6c5;
}

