.featured-gadgets-section {
    width: 100%;
    padding: 6rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.featured-gadgets-section .featured-gadgets-label {
    color: #0dcaf0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.85rem;
    font-weight: 600;
    margin-bottom: 3rem;
}


.featured-gadgets-section .featured-gadgets-grid {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.featured-gadgets-section .featured-gadgets-grid .gadget-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    cursor: pointer;
    height: 50vh;
    width: 22%;
}

.gadget-image-wrapper {
    width: 100%;
    height: inherit;
    overflow: hidden;
    border-radius: 16px;
    background: #151821;
    overflow: hidden;
}


.gadget-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
}


.gadget-image-wrapper img:hover {
    transform: scale(1.05);
}

.gadget-name {
    font-size: 1.1rem;
    font-weight: 500;
    color: #0dcaf0;
    letter-spacing: 0.3px;
    text-align: center;
}


/* Responsive */
@media (max-width: 1200px) {
    .featured-gadgets-section .featured-gadgets-grid {
        flex-direction: column;
    }

    .featured-gadgets-section .featured-gadgets-label {
        font-size: 0.65rem;
    }


    .featured-gadgets-section .featured-gadgets-grid .gadget-card {
        width: 45%;
    }

    .featured-gadgets-section {
        padding: 6rem 0;
    }
}

@media (max-width: 768px) {
    .featured-gadgets-section .featured-gadgets-grid {
        flex-direction: column;
    }

    .featured-gadgets-section .featured-gadgets-label {
        font-size: 0.65rem;
    }

    .featured-gadgets-section .featured-gadgets-grid .gadget-card {
        width: 90%;
    }
}
